{% extends "base.html" %}

{% block content %}

Marketing Report
<script src="https://cdn.flexmonster.com/flexmonster.js"></script>
<div id="pivot"></div>

<script>
var pivot = new Flexmonster({
    container: "#pivot",
    componentFolder: "https://cdn.flexmonster.com/",
    height: 600,
    toolbar: true,
    report: {
        "dataSource": {
            "type": "api",
            "url": "http://localhost:9204/mongo", // the url where our connector is running
            "index": "marketing" // specify the collection’s name
        },
    }
});

</script>

{% endblock %}
