{% extends 'base.html' %}

{% block title %} Polls|Detail {% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!-- in addition, create a further correspondence by
     preparing a form for the client to fill in and
     POST back. ie answer a question from the server
-->

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<br>
<input type="submit" value="Vote">
</form>

{% endif %}

{% endblock %}

