{% extends "rest_framework/base.html" %}

{% comment %}

Here's what happens when a browser loads a website with a <script> tag on it:

1. Fetch the HTML page (e.g. index.html)
2. Begin parsing the HTML
3. The parser encounters a <script> tag referencing an external script file.
4. The browser requests the script file. 
   Meanwhile, the parser blocks and stops parsing the other HTML on your page.
5. After some time the script is downloaded and subsequently executed.
6. The parser continues parsing the rest of the HTML document.

Step #4 causes a bad user experience. 
Your website basically stops loading until you've downloaded all scripts. 
If there's one thing that users hate it's waiting for a website to load.

The Antiquated Approach (rest_framework tutorial)
-------------------------------------------------

The old approach to solving this problem was to put <script> tags at the
bottom of your <body>, because this ensures the parser isn't blocked until
the very end.  This approach has its own problem: the browser cannot start
downloading the scripts until the entire document is parsed. For larger
websites with large scripts & stylesheets, being able to download the script
as soon as possible is very important for performance. If your website
doesn't load within 2 seconds, people will go to another website.

In an optimal solution, the browser would start downloading your scripts 
as soon as possible, while at the same time parsing the rest of your document.

The Modern Approach
-------------------

Today, browsers support the `async` and `defer` attributes on scripts. 
These attributes tell the browser it's safe to continue parsing while the 
scripts are being downloaded.

Scripts with the `async` attribute are executed asynchronously. This means 
the script is executed as soon as it's downloaded, without blocking the 
browser in the meantime. This implies that it's possible for script 2 to
be downloaded & executed before script 1.
<script src="path/to/script1.js" async></script>
<script src="path/to/script2.js" async></script>

Scripts with the `defer` attribute are executed in order. 
This also does not block the browser. Unlike async scripts, defer scripts 
are only executed after the entire document has been loaded. This gurantees
that script1 will execute before script 2. This Boolean attribute is set to 
indicate to a browser that the script is meant to be executed after the 
document has been parsed, but before firing DOMContentLoaded.
<script src="path/to/script1.js" defer></script>
<script src="path/to/script2.js" defer></script>

Conclusion
----------

The current state-of-the-art is to put scripts in the <head> tag and
use the async or defer attributes. This allows your scripts to be downloaded
asap without blocking your browser.

We had an issue with the menu not loading and discovered
https://getbootstrap.com/docs/4.1/components/dropdowns/
In this case we needed a Popper.js ja library to be included before the
bootstrap.min.js that came at the end of the rest_framework api.
Popper.js is contained boostrap.bundle.min.js.

We didnt want to completely modify the {% block script %} with our template
overlay so this came in very handy in the HTML Markup Django output for us
as we could piggy back it in with the template block to swap out the stylesheet.

The template engine completes its output, the browser reads all the scripts
it needs, and then renders the final page. the positioning is still off unfort.

{% endcomment %}

{% block bootstrap_theme %}
{% load static %}
<link rel="stylesheet" type="text/css"href="{% static '/css/bootstrap.min.css' %}" >
<script type="text/javascript" src="{% static '/js/bootstrap.bundle.min.js' %}" defer></script>
{% endblock %}

{% block bootstrap_navbar_variant %}{% endblock %}

{% block title %}SNIPPETS{% endblock %}

